save-exact=true
legacy-peer-deps=true

# @sberdevices берется из проксированного нексуса, который в свою очередь идет в registry.npmjs.org.
registry=https://nexus.sberdevices.ru/repository/Npm/
@sberdevices:registry=https://nexus.sberdevices.ru/repository/npm-proxy/